In [1]:
import os
import pandas as pd
import string
import math

In [2]:

def read_file(file_info, category):
    try:
        lines = open(file_info[0]).read().splitlines()
    except UnicodeDecodeError:
        return None
    lines = list(filter(lambda x: x != '', lines))
    data_dict = {}
    data_dict['Id'] = file_info[1]
    data_dict['Title'] = [lines[0]]
    cat = ''
    for line in lines[1:]:
        cat += line
    data_dict['Content'] = [cat]
    data_dict['Category'] = [category]
    
    return pd.DataFrame(data = data_dict)

In [7]:
categories = ['business','entertainment', 'politics', 'sport', 'tech']
num = 1

df_set = pd.DataFrame(columns = ['Id', 'Title', 'Content', 'Category'])
df_test = pd.DataFrame(columns = ['Id', 'Title', 'Content', 'Category'])

for cat in categories:
    filepaths = [f for f in os.listdir("../../data/" + cat) if f.endswith('.txt')]
    business_ids = [str(num) + f.split('.txt')[0] for f in filepaths ]
    filepaths = list(map(lambda x: '../../data/' + cat + '/' + x, filepaths))
    file_info = list(zip(filepaths, business_ids))

    cat_df = pd.concat(map(lambda f: read_file(f, cat), file_info), ignore_index = True)

    df_set = df_set.append(cat_df.head(math.ceil(0.8*cat_df.shape[0])), ignore_index = True)

    df_test = df_test.append(cat_df.tail(math.ceil(0.2*cat_df.shape[0])), ignore_index = True)

    num += 1

In [14]:
# shuffle the dataframe so that the articles' categories are mixed up
df_set = df_set.sample(frac = 1)
df_set

,Id,Title,Content,Category
1200,4224,Bristol City 2-1 Milton Keynes,Leroy Lita took his goal tally to 13 for the s...,sport
1552,5259,Apple sues 'Tiger' file sharers,Apple has taken more legal action to stop onli...,tech
1563,5261,Speech takes on search engines,A Scottish firm is looking to attract web surf...,tech
1123,4498,Dent continues Adelaide progress,American Taylor Dent reached the final of the ...,sport
1632,5031,Solutions to net security fears,"Fake bank e-mails, or phishing, and stories ab...",tech
...,...,...,...,...
642,2338,Howl helps boost Japan's cinemas,Japan's box office received a 3.8% boost last ...,entertainment
1493,5166,'Brainwave' cap controls computer,A team of US researchers has shown that contro...,tech
244,1003,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuko...,business
190,1503,India's Maruti sees profits jump,India's biggest carmaker Maruti has reported a...,business
911,3029,UK set to cut back on embassies,Nine overseas embassies and high commissions w...,politics

In [16]:
# shuffle the dataframe so that the articles' categories are mixed up, then drop the 'Category' column
df_test = df_test.sample(frac = 1)
df_test = df_test.drop(columns = 'Category')
df_test

,Id,Title,Content
442,5209,Man auctions ad space on forehead,A 20-year-old US man is selling advertising sp...
90,1409,UK bank seals South Korean deal,UK-based bank Standard Chartered said it would...
126,2275,The Producers scoops stage awards,The Producers has beaten Mary Poppins in the b...
120,2308,Tautou 'to star in Da Vinci film',"French actress Audrey Tautou, star of hit film..."
67,1341,Jarvis sells Tube stake to Spain,Shares in engineering group Jarvis have soared...
...,...,...,...
371,5058,BT boosts its broadband packages,British Telecom has said it will double the br...
404,5254,Broadband in the UK gathers pace,One person in the UK is joining the internet's...
416,5264,Broadband soars in 2004,"If broadband were a jumbo jet, then 2003 would..."
235,3417,Lib Dems unveil election slogan,The Liberal Democrats will present themselves ...
412,5035,Iran jails blogger for 14 years,An Iranian weblogger has been jailed for 14 ye...

In [17]:
path_set = r'../data/train_set.tsv'
df_set.to_csv(path_set, sep = '\t', index = False)

path_test = r'../data/test_set.tsv'
df_test.to_csv(path_test, sep = '\t', index = False)