In [1]:
import os
import pandas as pd
import string
import math

In [2]:

def read_file(file_info, category):
    try:
        lines = open(file_info[0]).read().splitlines()
    except UnicodeDecodeError:
        return None
    lines = list(filter(lambda x: x != '', lines))
    data_dict = {}
    data_dict['Id'] = file_info[1]
    data_dict['Title'] = [lines[0]]
    cat = ''
    for line in lines[1:]:
        cat += line
    data_dict['Content'] = [cat]
    data_dict['Category'] = [category]
    
    return pd.DataFrame(data = data_dict)

In [3]:
categories = ['business','entertainment', 'politics', 'sport', 'tech']
num = 1

df_set = pd.DataFrame(columns = ['Id', 'Title', 'Content', 'Category'])
df_test = pd.DataFrame(columns = ['Id', 'Title', 'Content', 'Category'])

for cat in categories:
    filepaths = [f for f in os.listdir("../../data/" + cat) if f.endswith('.txt')]
    business_ids = [str(num) + f.split('.txt')[0] for f in filepaths ]
    filepaths = list(map(lambda x: '../../data/' + cat + '/' + x, filepaths))
    file_info = list(zip(filepaths, business_ids))

    cat_df = pd.concat(map(lambda f: read_file(f, cat), file_info), ignore_index = True)

    df_set = df_set.append(cat_df.head(math.ceil(0.8*cat_df.shape[0])), ignore_index = True)

    df_test = df_test.append(cat_df.tail(math.ceil(0.2*cat_df.shape[0])), ignore_index = True)

    num += 1

In [4]:
df_set

,Id,Title,Content,Category
0,1043,Saudi ministry to employ women,Women will be employed in Saudi Arabia's forei...,business
1,1388,Venezuela identifies 'idle' farms,Venezuelan authorities have identified more th...,business
2,1138,Winter freeze keeps oil above $50,Oil prices carried on rising on Wednesday afte...,business
3,1004,High fuel prices hit BA's profits,British Airways has blamed high fuel prices fo...,business
4,1017,Parmalat boasts doubled profits,"Parmalat, the Italian food group at the centre...",business
...,...,...,...,...
1775,5161,When technology gets personal,"In 2020, whipping out your mobile phone to mak...",tech
1776,5259,Apple sues 'Tiger' file sharers,Apple has taken more legal action to stop onli...,tech
1777,5066,Kenyan school turns to handhelds,At the Mbita Point primary school in western K...,tech
1778,5321,Consumer concern over RFID tags,Consumers are very concerned about the use of ...,tech
1779,5326,DVD copy protection strengthened,DVDs will be harder to copy thanks to new anti...,tech

In [5]:
# df_test = df_test.drop(columns = 'Category')
df_test

,Id,Title,Content,Category
0,1066,German business confidence slides,German business confidence fell in February kn...,business
1,1321,Diageo to buy US wine firm,"Diageo, the world's biggest spirits company, h...",business
2,1326,Senior Fannie Mae bosses resign,The two most senior executives at US mortgage ...,business
3,1158,Qatar and Shell in $6bn gas deal,Shell has signed a $6bn (£3.12bn) deal with th...,business
4,1209,Mixed reaction to Man Utd offer,Shares in Manchester United were up over 5% by...,business
...,...,...,...,...
442,5346,Warnings on woeful wi-fi security,Companies are getting worse at keeping their w...,tech
443,5264,Broadband soars in 2004,"If broadband were a jumbo jet, then 2003 would...",tech
444,5279,Speak easy plan for media players,Music and film fans will be able to control th...,tech
445,5281,Cyber crime booms in 2004,The last 12 months have seen a dramatic growth...,tech
446,5288,Big war games battle it out,The arrival of new titles in the popular Medal...,tech

In [6]:
path_set = r'../data/train_set.tsv'
df_set.to_csv(path_set, sep = '\t', index = False)

path_test = r'../data/test_set.tsv'
df_test.to_csv(path_test, sep = '\t', index = False)