In [21]:
import os
import pandas as pd
import string
import math

In [22]:

def read_file(file_info, category):
    try:
        lines = open(file_info[0]).read().splitlines()
    except UnicodeDecodeError:
        return None
    lines = list(filter(lambda x: x != '', lines))
    data_dict = {}
    data_dict['Id'] = file_info[1]
    data_dict['Title'] = [lines[0]]
    cat = ''
    for line in lines[1:]:
        cat += line
    data_dict['Content'] = [cat]
    data_dict['Category'] = [category]
    
    return pd.DataFrame(data = data_dict)

In [23]:
categories = ['business','entertainment', 'politics', 'sport', 'tech']
num = 1

df_set = pd.DataFrame(columns = ['Id', 'Title', 'Content', 'Category'])
df_test = pd.DataFrame(columns = ['Id', 'Title', 'Content', 'Category'])

for cat in categories:
    filepaths = [f for f in os.listdir("../../data/" + cat) if f.endswith('.txt')]
    business_ids = [str(num) + f.split('.txt')[0] for f in filepaths ]
    filepaths = list(map(lambda x: '../../data/' + cat + '/' + x, filepaths))
    file_info = list(zip(filepaths, business_ids))

    cat_df = pd.concat(map(lambda f: read_file(f, cat), file_info), ignore_index = True)

    df_set = df_set.append(cat_df.head(math.ceil(0.8*cat_df.shape[0])), ignore_index = True)

    df_test = df_test.append(cat_df.tail(math.ceil(0.2*cat_df.shape[0])), ignore_index = True)

    num += 1

In [24]:
# shuffle the dataframe so that the articles' categories are mixed up
df_set = df_set.sample(frac = 1, random_state = 7)
df_set

,Id,Title,Content,Category
58,1034,"Rover deal 'may cost 2,000 jobs'","Some 2,000 jobs at MG Rover's Midlands plant m...",business
281,1008,India calls for fair trade rules,"India, which attends the G7 meeting of seven l...",business
1550,5011,UK net users leading TV downloads,British TV viewers lead the trend of illegally...,tech
452,2034,Vera Drake scoops film award,Oscar hopefuls Mike Leigh and Imelda Staunton ...,entertainment
1699,5172,Gadget show heralds MP3 Christmas,Partners of those who love their hi-tech gear ...,tech
...,...,...,...,...
1603,5265,Half of UK's mobiles 'go online',Multimedia mobile phones are finally showing s...,tech
502,2213,TV show unites Angolan families,Angolan families who are attempting to track e...,entertainment
537,2214,Volcano drama erupts on BBC One,"Supervolcano, a docu-drama about a volcanic er...",entertainment
1220,4322,Scotland v Italy (Sat),"Murrayfield, EdinburghSaturday, 26 February140...",sport
175,1370,US manufacturing expands,US industrial production increased in December...,business

In [25]:
# shuffle the dataframe so that the articles' categories are mixed up, then drop the 'Category' column
df_test = df_test.sample(frac = 1, random_state = 7)
# df_test = df_test.drop(columns = 'Category')
df_test

,Id,Title,Content,Category
259,3209,Abbas 'will not tolerate' attacks,Palestinian leader Mahmoud Abbas has said he w...,politics
109,2348,Berlin celebrates European cinema,Organisers say this year's Berlin Film Festiva...,entertainment
60,1461,Beijingers fume over parking fees,Choking traffic jams in Beijing are prompting ...,business
330,4200,Ferguson urges Henry punishment,Sir Alex Ferguson has called on the Football A...,sport
170,2262,U2's desire to be number one,"U2, who have won three prestigious Grammy Awar...",entertainment
...,...,...,...,...
211,3153,Clarke to unveil immigration plan,New controls on economic migrants and tighter ...,politics
67,1341,Jarvis sells Tube stake to Spain,Shares in engineering group Jarvis have soared...,business
25,1352,Share boost for feud-hit Reliance,The board of Indian conglomerate Reliance has ...,business
196,3369,BAA support ahead of court battle,UK airport operator BAA has reiterated its sup...,politics
175,2250,Prince crowned 'top music earner',Prince earned more than any other pop star in ...,entertainment

In [26]:
path_set = r'../data/train_set.tsv'
df_set.to_csv(path_set, sep = '\t', index = False)

path_test = r'../data/test_set.tsv'
df_test.to_csv(path_test, sep = '\t', index = False)