## Data Mining Assignment 2
#### *Daridis Ioannis 1115201700028*
#### *Pantazi Sotiria 1115201700241*

In [1]:
import os
import pandas as pd
import string
import math

In [2]:

def read_file(file_info, category):
    try:
        lines = open(file_info[0]).read().splitlines()
    except UnicodeDecodeError:
        return None
    lines = list(filter(lambda x: x != '', lines))
    data_dict = {}
    data_dict['Id'] = file_info[1]
    data_dict['Title'] = [lines[0]]
    cat = ''
    for line in lines[1:]:
        cat += line
    data_dict['Content'] = [cat]
    data_dict['Category'] = [category]
    
    return pd.DataFrame(data = data_dict)

In [3]:
categories = ['business','entertainment', 'politics', 'sport', 'tech']
num = 1

df_train = pd.DataFrame(columns = ['Id', 'Title', 'Content', 'Category'])
df_test = pd.DataFrame(columns = ['Id', 'Title', 'Content', 'Category'])

for cat in categories:
    filepaths = [f for f in os.listdir("../../data/" + cat) if f.endswith('.txt')]
    business_ids = [str(num) + f.split('.txt')[0] for f in filepaths ]
    filepaths = list(map(lambda x: '../../data/' + cat + '/' + x, filepaths))
    file_info = list(zip(filepaths, business_ids))

    cat_df = pd.concat(map(lambda f: read_file(f, cat), file_info), ignore_index = True)

    df_train = df_train.append(cat_df.head(math.ceil(0.8*cat_df.shape[0])), ignore_index = True)

    df_test = df_test.append(cat_df.tail(math.ceil(0.2*cat_df.shape[0])), ignore_index = True)

    num += 1

In [4]:
# shuffle the dataframe so that the articles' categories are mixed up
df_train = df_train.sample(frac = 1, random_state = 7)
df_train

,Id,Title,Content,Category
58,1295,Business confidence dips in Japan,Business confidence among Japanese manufacture...,business
281,1108,Slowdown hits US factory growth,US industrial production increased for the 21s...,business
1550,5291,Doors open at biggest gadget fair,Thousands of technology lovers and industry ex...,tech
452,2366,Bollywood DVD fraudster is jailed,A major distributor of pirated DVDs of Bollywo...,entertainment
1699,5145,Musicians 'upbeat' about the net,Musicians are embracing the internet as a way ...,tech
...,...,...,...,...
1603,5215,Europe backs digital TV lifestyle,How people receive their digital entertainment...,tech
502,2024,Paraguay novel wins US book prize,A novel set in 19th century Paraguay has won t...,entertainment
537,2081,Oscars race enters final furlong,The race for the Oscars entered its final stag...,entertainment
1220,4127,Kewell waits as injury drags on,Liverpool winger Harry Kewell is struggling to...,sport
175,1142,Asian banks halt dollar's slide,The dollar regained some lost ground against m...,business

In [5]:
# shuffle the dataframe so that the articles' categories are mixed up, then drop the 'Category' column
df_test = df_test.sample(frac = 1, random_state = 7)
# df_test = df_test.drop(columns = 'Category')
df_test

,Id,Title,Content,Category
259,3346,Labour's four little words,Labour has unveiled the four little words that...,politics
109,2237,Singer Knight backs anti-gun song,R&B star Beverley Knight said she sang on an a...,entertainment
60,1244,Market unfazed by Aurora setback,As the Aurora limped back to its dock on 20 Ja...,business
330,4065,Radcliffe will compete in London,Paula Radcliffe will compete in the Flora Lond...,sport
170,2190,Veteran comic Cyril Fletcher dies,Veteran comedian and broadcaster Cyril Fletche...,entertainment
...,...,...,...,...
211,3235,Lib Dems' new election PR chief,The Lib Dems have appointed a senior figure fr...,politics
67,1436,ECB holds rates amid growth fears,The European Central Bank has left its key int...,business
25,1364,Durex maker SSL awaits firm bid,UK condom maker SSL International has refused ...,business
196,3023,E-University 'disgraceful waste',A failed government scheme to offer UK univers...,politics
175,2346,Abba queen enters music rich list,The woman behind the Abba musical Mamma Mia! h...,entertainment

In [6]:
path_train = r'../data/train_set.tsv'
df_train.to_csv(path_train, sep = '\t', index = False)

path_test = r'../data/test_set.tsv'
df_test.to_csv(path_test, sep = '\t', index = False)